
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.left {
    flex: 1;
}

.right {
    flex: 2;
    padding: 20px;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: #333;
}

p {
    color: #666;
    line-height: 1.6;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative; /* Menünün yerleşimini belirlemek için gerekli */
}

#menu {
    background-color: rgba(243, 125, 144, 0.7); /* Pembe renk ve yarı şeffaf */
    color: #140101;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
}

#menu a {
    color: #000000; /* Bağlantıların rengi */
    text-decoration: none; /* Alt çizgiyi kaldırma */
    margin: 0 10px; /* Bağlantılar arasında boşluk bırakma */
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 43px; /* Menüyü kapatmak için biraz daha fazla boşluk */
}